@charset "utf-8";

header, main, section, article, nav, footer {
    border: 1px solid black;
    padding: 10px;
}

article {
    background-color: lightgreen;
}

article header {
    background-color: lightgrey;
    color: white;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    align-items: stretch;
}
section>article {
    /*flex: 0 0 25%;*/
    flex: 1 1 200px;
}

section>article:nth-child(1){
    background-color: aquamarine;
    order: 5;
}

section>article:nth-child(1){
    background-color: lightblue;
    order: 6;
}

/*menü kialakítása*/

nav a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0px;
}

#listaval #menu{
    display: flex;
}

#listaval, #divekkel {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:600px) {
    section {
        flex-direction: column;
    }
}